*.ini
*.local
/QtProject.conf
/Trolltech.conf
/dconf/
/dunst/
/enchant/
/face
/gajim/
/gtk-*/
/htop/
/i3status/
/libfm/
/local
/lockscreen
/mc/
/menus/
/midori/
/mimeapps.list
/motd
/neofetch/
/pcmanfm/
/pulse/
/qtcurve/
/supertuxkart/
/transmission/
/wallpaper
/wallpaper.orig
/xfce4/
supervise/
