dconf
discord
evolution
geary
GIMP
gtk-2.0
gtk-3.0
htop
ibus
libreoffice
mimeapps.list
Mousepad
obs-studio
pavucontrol.ini
pulse
ristretto
teamviewer
Thunar
transmission
*.ttf
user-dirs.dirs
user-dirs.locale
.uuid
wallpaper
xfce4
